.map {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leaflet-container {
  flex: 4;
}

p {
  margin: 20px;
}

pre {
  flex: 1;
  overflow: auto;
}

.react-json-view {
  flex: 1;
  overflow: auto;
}

.popover {
  position: fixed;
  left: 0;
  top: 0;
  margin: 80px 0 0 12px;
  border-radius: 4px !important;
}
.popup-body {
  padding: 5px 20px;
}
.popup-heading {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.popup-btn {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}
.popup-btn:hover {
  background-color: #f4f4f4;
}
.popup-btn:active {
  background-color: white;
}
