.map{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leaflet-container {
  flex: 4;
}

p {
  margin: 20px;
}

pre{
  flex: 1;
  overflow: auto;
}

.react-json-view{
  flex: 1;
  overflow: auto;
}